<h1>Discover new recipes</h1>
<hr>
<div class="row">
  {{#each shuffledRecipes}}
    <div class="column">
      <div class="card">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
        <div class="card-body">
          <h4 class="card-title">{{title}}</h4>
          <p class="card-text">{{shortDescription}}</p>
          <p class="card-author">Recipe by {{creator.0.username}}</p>
        </div>
      </div>
    </div>
  {{else}}
    <p>There are no recipes!</p>
  {{/each}}
</div>