{{> navbar }}

<h1>My Cookbook</h1>
<hr>
<div class="filters">
  <form action="/my-cookbook" method="post">
    <h3>Filters: </h3>
    <label>
      Diet:
      <select name="dietType">
        <option value=""></option>
        <option value="Vegan">Vegan</option>
        <option value="Vegetarian">Vegetarian</option>
        <option value="Gluten-free">Gluten Free</option>
      </select>
    </label>
    <label>
      Level:
      <select name="dishLevel">
        <option value=""></option>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Fancy">Fancy</option>
      </select>
    </label>
    <label>
      Type:
      <select name="type">
        <option value=""></option>
        <option value="Breakfast">Breakfast</option>
        <option value="Main course">Main course</option>
        <option value="Soup">Soup</option>
        <option value="Snack">Snack</option>
        <option value="Drink">Drink</option>
        <option value="Dessert">Dessert</option>
        <option value="Appetizer">Appetizer</option>
        <option value="Starter">Starter</option>
        <option value="Side dish">Side dish</option>
        <option value="Other">Other</option>
      </select>
    </label>
    <label>
      Only Show My Recipes:
      <input type="checkbox" name="creator">
    </label>
    <button type="submit" class="btn btn-success">Filter My Cookbook</button>
  </form>
</div>
<hr>
<div class="row">
  {{#each recipes}}
  <div class="column">
    <div class="card">
      <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <p class="card-text">{{shortDescription}}</p>
        <p class="card-author">Recipe by {{creator.0.username}} <img src="{{creator.0.avatar}}" alt="avatar" class="mini-avatar"> </p>
        <a class="card-link" href="/recipe/detail/{{_id}}"><button class="btn btn-primary">View details</button></a>
        <form action="/recipe/remove-from-cookbook/{{_id}}" method="post"><button type="submit" class="btn btn-secondary">Remove from
                    my cookbook</button></form>
      </div>
    </div>
  </div>
  {{else}}
  <p>There are no recipes!</p>
  {{/each}}
</div>