<h1>Recipe detail</h1>

<h2>{{recipe.title}}</h2>
<img src="{{recipe.imageUrl}}" class="card-img-top" alt="{{recipe.title}}">
<p>{{recipe.creator.0.username}}</p>
<p>{{recipe.level}}</p>
<p>{{recipe.cuisine}}</p>
<p>{{recipe.dietRestriction}}</p>
<p>{{recipe.shortDescription}}</p>
<ul>
    {{#each recipe.ingredients}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<p>{{recipe.cookingSteps}}</p>

{{#if userMatch}}
<a href="/recipe/edit/{{_id}}"><button>Edit this recipe</button></a>
<a href="/recipe/delete/{{_id}}"><button>Delete this recipe</button></a>
{{else}}
<a href="/add-recipe/{{_id}}"><button>Add to my cookbook</button></a>
<button id="add-comment-btn">Add a comment</button>
<div>
    <form action="/recipe/add-comment/{{recipe._id}}" method="post" id="comment-box">
    </form>
</div>
{{/if}}

{{#each recipe.comments}}
<div class="comment-container">
    <h3>{{this.title}}</h3>
    <p>{{this.author.0.username}}</p>
    <p>{{this.comment}}</p>
</div>
{{/each}}