<h1>Recipe detail</h1>

<h2>{{recipe.title}}</h2>
<img src="{{recipe.imageUrl}}" class="card-img-top" alt="{{recipe.title}}">
<p>{{recipe.creator.0.username}}</p>
<p>{{recipe.level}}</p>
<p>{{recipe.cuisine}}</p>
<p>{{recipe.dietRestriction}}</p>
<p>{{recipe.shortDescription}}</p>
<ul>
{{#each ingredients}}
<li>{{this}}</li>
{{/each}}
</ul>
<p>{{recipe.cookingSteps}}</p>

{{#if userMatch}}
<a href="/recipe/edit/{{_id}}"><button>Edit this recipe</button></a>
<a href="/recipe/delete/{{_id}}"><button>Delete this recipe</button></a>
{{else}}
<a href="/add-recipe"><button>Add to my cookbook</button></a>
<button>Add a comment</button>
<div id="comment-box"></div>
{{/if}}