{{> navbar }}
<hr>
<div class="container detail">
    <div class="col">
        <h2>{{recipe.title}}</h2>
        <p><em>{{recipe.shortDescription}}</em></p>
    </div>
    <div class="row">
        <div class="col">
            <img src="{{recipe.imageUrl}}" class="card-img" alt="{{recipe.title}}">
            <p><strong>Created by: </strong>{{recipe.creator.0.username}} <img src="{{recipe.creator.0.avatar}}"
                    alt="avatar" class="mini-avatar"> || <strong>Level: </strong>{{recipe.level}} ||
                <strong>Cuisine:</strong> {{recipe.cuisine}} || {{recipe.dietRestriction}}
            </p>
        </div>
        <div class="col">
            <h4>Ingredients:</h4>
            {{#each recipe.ingredients}}
            <li>{{this}}</li>
            {{/each}}
            </ul>
        </div>
    </div>
    <div class="col">
        <h5>Instructions:</h5>
        <ol>
            {{#each recipe.cookingSteps}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>
    <div class="col">
        {{#if note}}
        <h6>My notes to this recipe:</h6>
        {{#each note}}

        <p>{{this.notes}}</p>
        <form action="/recipe/delete-note/{{../recipe._id}}" method="post">
            <input type="hidden" name="noteId" value="{{this._id}}">
            <button type="submit" class="btn btn-secondary btn-sm">Delete note</button>
        </form>
        {{/each}}
        {{/if}}
    </div>
    <div class="row">
        <div class="col">
            <div class="col md-flex justify-content-md-end">
                <button id="add-comment-btn" class="btn btn-primary btn-sm">Add a note</button>
                <div>
                    <form action="/recipe/add-note/{{recipe._id}}" method="post" id="comment-box">
                    </form>
                </div>
            </div>
            <hr>
            {{#if userMatch}}
            <a href="/recipe/edit/{{recipe._id}}"><button class="btn btn-success">Edit this recipe</button></a>
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteRecipeModal">Delete this
                recipe</button>
            <div class="modal fade" id="deleteRecipeModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Recipe</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this recipe? It will be deleted from other user's
                            cookbooks as well!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form action="/recipe/delete/{{recipe._id}}" method="post">
                                <button class="btn btn-danger" name="delete" value="delete-account"
                                    type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {{else}}
            {{#if cookbookMatch}}
            <form action="/recipe/remove-from-cookbook/{{recipe._id}}" method="post"><button type="submit"
                    class="btn btn-danger">Remove from
                    my cookbook</button></form>
            {{else}}
            <form action="/recipe/add-to-cookbook/{{recipe._id}}" method="post"><button type="submit"
                    class="btn btn-success">Add to my
                    cookbook</button>
            </form>
            {{/if}}
            {{/if}}
        </div>
    </div>

    <script src="/js/comment.script.js"></script>