<h1>Recipe detail</h1>

<h2>{{recipe.title}}</h2>
<img src="{{recipe.imageUrl}}" class="card-img-top" alt="{{recipe.title}}">
<p>{{recipe.creator.0.username}}</p>
<p>{{recipe.level}}</p>
<p>{{recipe.cuisine}}</p>
<p>{{recipe.dietRestriction}}</p>
<p>{{recipe.shortDescription}}</p>
<ul>
    {{#each recipe.ingredients}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<p>{{recipe.cookingSteps}}</p>

{{#if userMatch}}
<a href="/recipe/edit/{{recipe._id}}"><button>Edit this recipe</button></a>
<a href="/recipe/delete/{{recipe._id}}"><button>Delete this recipe</button></a>
{{else}}
<a href="/add-recipe/{{recipe._id}}"><button>Add to my cookbook</button></a>

{{/if}}

<button id="add-comment-btn">Add a note</button>
<div>
    <form action="/recipe/add-note/{{recipe._id}}" method="post" id="comment-box">
    </form>
</div>