{{> navbar }}
<hr>
<h1>Edit a recipe</h1>
<br>
<form action="" method="post" <div class="container">
    <div class="row">
        <div class="col-4">
            <h3>Recipe Details:</h3>
        </div>
        <div class="col-8">
            <label for="title">Name</label>
            <input type="text" name="title" id="title" value="{{recipe.title}}">
            <br>
            <label for="shortDescription">Short description</label>
            <textarea name="shortDescription" id="shortDescription" maxlength="100" cols="50"
                rows="3">{{recipe.shortDescription}}</textarea>
            <br>

            <img src="{{recipe.imageUrl}}" alt="{{recipe.title}}" height="200px">
            <br>
            <label>Type of dish</label>
            <label for="dishtType">
                <select name="dishtType" id="dishtType">
                    <option hidden value="{{recipe.dishType}}" selected>{{recipe.dishType}}</option>
                    <option value="Appetizer">Appetizer</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Drink">Drink</option>
                    <option value="Main course">Main course</option>
                    <option value="Salad">Salad</option>
                    <option value="Sauce">Sauce</option>
                    <option value="Side dish">Side dish</option>
                    <option value="Snack">Snack</option>
                    <option value="Soup">Soup</option>
                    <option value="Starter">Starter</option>
                    <option value="Other">Other</option>
                </select>
            </label>
            <label for="level">Level</label>
            <label>
                <select name="level" id="level">
                    <option hidden value="{{recipe.level}}" selected>{{recipe.level}}</option>
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Fancy">Fancy</option>
                </select>
            </label>
            <label for="cuisine">Cuisine</label>
            <input type="text" name="cuisine" id="cuisine" value="{{recipe.cuisine}}">
            <br>
            <label for="diet-restrictions">Diet restrictions:</label>
            <select multiple name="dietRestriction" id="diet-restrictions">
                <option name="vegan" value="Vegan" id="vegan">Vegan</option>
                <option name="vegetarian" value="Vegetarian" id="vegetarian">Vegetarian</option>
                <option name="glutenFree" value="Gluten-free" id="gluten-free">Gluten-free</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <h3>Ingredients</h3>
        </div>
        <div class="col-8">
            <ul id="ingredient-list">
                {{#each recipe.ingredients}}
                <li onclick="deleteLi(event, ingArray)"><input class="ingredientInput remover" type="text"
                        id="ingredients" cols="50" rows="3" value="{{this}}"></input> 🗑️</li>
                {{/each}}
            </ul>
            <button type="button" id="add-ingredient-btn">Add Ingredient</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <h3>Cooking Steps</h3>
        </div>
        <div class="col-8">
            <ol id="step-list">
                {{#each recipe.cookingSteps}}
                <li onclick="deleteLi(event, stpArray)"><textarea class="ingredientInput remover" type="text" cols="75"
                        rows="4" id="ingredients">{{this}}</textarea> 🗑️</li>
                {{/each}}
            </ol>
            <button type="button" id="add-step-button">Add Step</button>
        </div>
    </div>
    <hr>
    </div>
    <button type="submit">Submit Changes</button>
</form>








<script src="/js/edit.script.js"></script>