<h1>search result</h1>
{{#if errorMessage}}
<div class="nothing-found">
    {{errorMessage}}
</div>
{{else}}
<div class="row">
    {{#each recipes}}
    <div class="column">
        <div class="card">
            <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
            <div class="card-body">
                <h class="card-title">{{title}}</h4>
                <p class="card-text">{{shortDescription}}</p>
                <p class="card-author">Recipe by {{creator.0.username}}</p>
                <a href="/recipe/detail/{{_id}}"><button class="btn btn-primary">View details</button></a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}